<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Roboto', sans-serif;
      height:100vh;
      margin: 0;
      background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .vertical-center {
      position:relative;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    img {
      width: 150px;
      border-radius: 20%;
      box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
    }
    h1, h2 {
      margin: 20px 0;
    }
    h1 {
      font-size: 2.5em;
      font-weight: 400;
      color: #FFFFFF;
    }
    h2 {
      font-size: 1.5em;
      font-weight: 300;
      color: #FFFFFF;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the Sparta + Home  Test App</h1>
    <img src="/images/squarelogo.jpg" />
    <h2>The app is running correctly.</h2>
  </div>
</body>
</html>